<div class="collapse" id="collapsePlanning444" data-parent="#myGroup">
    <div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
        <div class="card-body">
            
            
            
            <form id="flight-form">

                <input type="text" id="origin-city" name="origin-city" placeholder="Departure">
              
                <input type="text" id="destination-city" name="destination-city" placeholder="Destination">
               
                <button type="submit">Calculate Flight Time</button>
              </form>
                 <input type="text" id="realTime" name="realTime" placeholder="MCDU_FlightTime">
              <div class="progress" >
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar"></div>
                
              </div></div></div></div>

           

				<!-- Third Row-->
				




